{{> header}}
{{> menu}}

<h1>Informe de Clientes</h1>

<table border="1" cellpadding="8">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre completo</th>
            <th>Email</th>
            <th>Últimos alquileres</th>
        </tr>
    </thead>

    <tbody>
    {{#each customers}}
        <tr>
            <td>{{customer_id}}</td>
            <td>{{first_name}} {{last_name}}</td>
            <td>{{email}}</td>
            <td>
                <ul>
                {{#each rentals}}
                    <li>{{rental_date}}</li>
                {{/each}}
                </ul>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>

{{> footer}}